<div class="hire-me-container">
    <div class="profile-photo">
        <img src="/assets/images/mypic.jpeg" alt="Your Profile Photo">
      </div>
      <h2>Contact Me</h2> 
    <div class="contact-info">
      <p>Email: iammounesh@gmail.com</p>
      <p>LinkedIn: <a href="https://www.linkedin.com/in/mouneshh" target="_blank">Connect with me</a></p>
    </div>
 
    <h3 class="subtitle">Full Stack Developer with expertise in C#</h3>
    <p>
      I'm a Full Stack Developer with a passion for building web applications using C#. Whether you need a new web application developed from scratch or enhancements to an existing project, I'm here to help.
    </p>
  
    <h3>Skills and Expertise</h3>
    <ul>
      <li>C# and .NET development</li>
      <li>Front-end technologies (HTML, CSS, JavaScript)</li>
      <li>Back-end development with ASP.NET and SQL Server</li>
      <li>API development</li>
      <li>Database design and optimization</li>
    </ul>
  
    <p>If you have a project or opportunity you'd like to discuss, feel free to reach out to me.</p>
  
  </div>
  